<div class="content text-center">
  <h1>Welcome to Anyone's Blog</h1>
  <br/><br/>
  <p>This started out as a project site, just to expand my Ruby on Rails skills, but I am hoping it picks up with some people and starts taking off.</p>
  <p>Just create a login, and once you are signed in you can create as many posts as you want. Then you can edit, delete, and view other's posts as well!</p>
  <br/><br/>
  <p>I hope you enjoy the site, and if you run into any issues, please email at the link in the page footer and I will fix any issues.</p>
  <br/>
  <p><%= link_to 'Return to Home', root_path %></p>
</div>
