<div class="container">
   <footer class="footer">
      <small>
         Copyright &copy: <a href="https://anthonysgetaway.com">Anthony's Getaway</a>
         by Anthony Hual<br/>Email: <a href="mailto:blufirenator@gmail.com?Subject=Hello%20from%20Alphablog" target="_top">blufirenator@gmail.com</a>
      </small>
   </footer>
</div>